<div class="w-full">
    <h1 mat-dialog-title>
      Sign in to your account
    </h1>
    <mat-dialog-content>
      <form class="grid gap-2" [formGroup]="loginForm">
        <mat-form-field class="w-full" [hideRequiredMarker]="true">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="w-full" [hideRequiredMarker]="true">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>

        <div class="flex items-center justify-between">
          <mat-checkbox formControlName="remember">Remember Me</mat-checkbox>
          <button mat-button>
            Forgot password?
          </button>
        </div>
        <button type="submit" mat-flat-button (click)="login()">
          Sign in
        </button>

        <button mat-button style="padding: 1rem;">
          <mat-icon svgIcon="google" style="width: 0.9rem"></mat-icon>
          Login With Google
        </button>

        <p class="text-sm font-light text-gray-500 dark:text-gray-400 flex items-center">
          Don’t have an account yet?
          <button mat-button>
            Sign up
          </button>
        </p>
      </form>
    </mat-dialog-content>
</div>
