<div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
  <div class="flex-1 overflow-y-auto">
    <mat-toolbar class="flex items-center justify-between bg-additional">
      <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
      <button mat-icon-button color="primary" (click)="drawer().close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <div class="flow-root">
      <mat-list class="grid gap-5">
        <mat-list-item class="flex gap-4">
          <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200" matListItemIcon>
            <img
              src="https://tailwindcss.com/plus-assets/img/ecommerce-images/shopping-cart-page-04-product-01.jpg"
              alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
              class="size-full object-cover">
          </div>

          <div class="ml-4 flex flex-1 flex-col">
            <div>
              <div class="flex justify-between text-base font-medium text-gray-900">
                <h3>
                  <a href="#">Throwback Hip Bag</a>
                </h3>
                <p class="ml-4">$90.00</p>
              </div>
              <p class="mt-1 text-sm text-gray-500">Salmon</p>
            </div>
            <div class="flex flex-1 items-end justify-between text-sm">
              <p class="text-gray-500">Qty 1</p>

              <button type="button"
                      mat-button
                      class="font-medium">
                Remove
              </button>
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="flex gap-4">
          <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200" matListItemIcon>
            <img
              src="https://tailwindcss.com/plus-assets/img/ecommerce-images/shopping-cart-page-04-product-02.jpg"
              alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch."
              class="size-full object-cover">
          </div>

          <div class="ml-4 flex flex-1 flex-col">
            <div>
              <div class="flex justify-between text-base font-medium text-gray-900">
                <h3>
                  <a href="#">Medium Stuff Satchel</a>
                </h3>
                <p class="ml-4">$32.00</p>
              </div>
              <p class="mt-1 text-sm text-gray-500">Blue</p>
            </div>
            <div class="flex flex-1 items-end justify-between text-sm">
              <p class="text-gray-500">Qty 1</p>

              <button type="button"
                      mat-button
                      class="font-medium">
                Remove
              </button>
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="flex gap-4">
          <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200" matListItemIcon>
            <img
              src="https://tailwindcss.com/plus-assets/img/ecommerce-images/shopping-cart-page-04-product-03.jpg"
              alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls."
              class="size-full object-cover">
          </div>

          <div class="ml-4 flex flex-1 flex-col">
            <div>
              <div class="flex justify-between text-base font-medium text-gray-900">
                <h3>
                  <a href="#">Zip Tote Basket</a>
                </h3>
                <p class="ml-4">$140.00</p>
              </div>
              <p class="mt-1 text-sm text-gray-500">White and black</p>
            </div>
            <div class="flex flex-1 items-end justify-between text-sm">
              <p class="text-gray-500">Qty 1</p>

              <button type="button"
                      mat-button
                      color="warn"
                      class="font-medium">
                Remove
              </button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="p-6 grid gap-4">
    <mat-divider></mat-divider>
    <div class="flex justify-between text-base font-medium text-gray-900">
      <p>Subtotal</p>
      <p>$262.00</p>
    </div>
    <p class="text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
    <button mat-flat-button
            class="w-full">
      Checkout
    </button>
    <div class="flex justify-center text-center text-sm text-gray-500">
      <p>
        or
        <button type="button" mat-button class="font-medium text-indigo-600 hover:text-indigo-500">
          Continue Shopping
          <span aria-hidden="true"> →</span>
        </button>
      </p>
    </div>
  </div>
</div>
