<mat-sidenav-container class="h-dvh" hasBackdrop>
  <mat-sidenav #drawer
               fixedInViewport
               position="end"
               [attr.role]="isHandset() ? 'dialog' : 'navigation'"
               [mode]="'over'"
               [opened]="opened()">
    @switch (activeDrawer()) {
      @case ('nav') {
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item href="#">Link 1</a>
          <a mat-list-item href="#">Link 2</a>
          <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
      }
      @case ('cart') {
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <div class="flex-1 overflow-y-auto">
            <mat-toolbar class="flex items-center justify-between bg-additional">
              <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
              <button mat-icon-button color="primary" (click)="drawer.close()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-toolbar>

            <div class="flow-root">
              <mat-list class="grid gap-5">
                <mat-list-item class="flex gap-4">
                  <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200" matListItemIcon>
                    <img
                      src="https://tailwindcss.com/plus-assets/img/ecommerce-images/shopping-cart-page-04-product-01.jpg"
                      alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
                      class="size-full object-cover">
                  </div>

                  <div class="ml-4 flex flex-1 flex-col">
                    <div>
                      <div class="flex justify-between text-base font-medium text-gray-900">
                        <h3>
                          <a href="#">Throwback Hip Bag</a>
                        </h3>
                        <p class="ml-4">$90.00</p>
                      </div>
                      <p class="mt-1 text-sm text-gray-500">Salmon</p>
                    </div>
                    <div class="flex flex-1 items-end justify-between text-sm">
                      <p class="text-gray-500">Qty 1</p>

                      <button type="button"
                              mat-button
                              class="font-medium">
                        Remove
                      </button>
                    </div>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="flex gap-4">
                  <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200" matListItemIcon>
                    <img
                      src="https://tailwindcss.com/plus-assets/img/ecommerce-images/shopping-cart-page-04-product-02.jpg"
                      alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch."
                      class="size-full object-cover">
                  </div>

                  <div class="ml-4 flex flex-1 flex-col">
                    <div>
                      <div class="flex justify-between text-base font-medium text-gray-900">
                        <h3>
                          <a href="#">Medium Stuff Satchel</a>
                        </h3>
                        <p class="ml-4">$32.00</p>
                      </div>
                      <p class="mt-1 text-sm text-gray-500">Blue</p>
                    </div>
                    <div class="flex flex-1 items-end justify-between text-sm">
                      <p class="text-gray-500">Qty 1</p>

                      <button type="button"
                              mat-button
                              class="font-medium">
                        Remove
                      </button>
                    </div>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item class="flex gap-4">
                  <div class="size-24 shrink-0 overflow-hidden rounded-md border border-gray-200" matListItemIcon>
                    <img
                      src="https://tailwindcss.com/plus-assets/img/ecommerce-images/shopping-cart-page-04-product-03.jpg"
                      alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls."
                      class="size-full object-cover">
                  </div>

                  <div class="ml-4 flex flex-1 flex-col">
                    <div>
                      <div class="flex justify-between text-base font-medium text-gray-900">
                        <h3>
                          <a href="#">Zip Tote Basket</a>
                        </h3>
                        <p class="ml-4">$140.00</p>
                      </div>
                      <p class="mt-1 text-sm text-gray-500">White and black</p>
                    </div>
                    <div class="flex flex-1 items-end justify-between text-sm">
                      <p class="text-gray-500">Qty 1</p>

                      <button type="button"
                              mat-button
                              color="warn"
                              class="font-medium">
                        Remove
                      </button>
                    </div>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
          </div>

          <div class="p-6 grid gap-4">
            <mat-divider></mat-divider>
            <div class="flex justify-between text-base font-medium text-gray-900">
              <p>Subtotal</p>
              <p>$262.00</p>
            </div>
            <p class="text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
            <button mat-flat-button
                    class="w-full">
              Checkout
            </button>
            <div class="flex justify-center text-center text-sm text-gray-500">
              <p>
                or
                <button type="button" mat-button class="font-medium text-indigo-600 hover:text-indigo-500">
                  Continue Shopping
                  <span aria-hidden="true"> →</span>
                </button>
              </p>
            </div>
          </div>
        </div>
      }
      @case ('search') {
        <mat-toolbar>search</mat-toolbar>
      }
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="flex justify-between items-center max-w-[1200px] mx-auto">
      <a routerLink="/">
        <img ngSrc="./assets/images/logo.svg" alt="logo" height="18" width="115">
      </a>

      @if (!isHandset()) {
        <nav class="navigation">
          <ul class="flex items-center gap-4">
            <li class="nav-item">
              <a class="font-sm text-base">
                {{ "NAVIGATION.SALE" | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="font-sm text-base">
                {{ "NAVIGATION.NEW_COLLECTION" | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="font-sm text-base">
                {{ "NAVIGATION.MALE" | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="font-sm text-base">
                {{ "NAVIGATION.FEMALE" | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="font-sm text-base">
                {{ "NAVIGATION.KID" | translate }}
              </a>
            </li>
          </ul>
        </nav>
      }

      <div class="flex items-center">
        <button class="flex items-center gap-1" mat-button role="button" [matMenuTriggerFor]="languages">
          <mat-icon aria-label="choose language" [svgIcon]="selectedLanguageFlag()"></mat-icon>
          <span class="text-sm">{{ selectedLanguage() }}</span>
        </button>

        <mat-menu #languages="matMenu">
          <button mat-menu-item (click)="chooseLanguage('geo', 'ქართ', 'georgia_flag')">
            <mat-icon aria-label="choose georgian language" svgIcon="georgia_flag"></mat-icon>
            <span>{{ 'ქართული' }}</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="chooseLanguage('eng', 'Eng', 'usa_flag')">
            <mat-icon aria-label="choose english language" svgIcon="usa_flag"></mat-icon>
            <span>{{ 'English' }}</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="chooseLanguage('rus', 'Рус', 'russia_flag')">
            <mat-icon aria-label="choose russian language" svgIcon="russia_flag"></mat-icon>
            <span>{{ 'Русский' }}</span>
          </button>
        </mat-menu>

        <button type="button"
                aria-label="Toggle Search"
                mat-icon-button
                (click)="openDrawer('search')">
          <mat-icon aria-label="Search toggle icon">search</mat-icon>
        </button>

        <button type="button"
                aria-label="auth methods"
                [matMenuTriggerFor]="authentication"
                mat-icon-button>
          <mat-icon aria-label="authentication">person_outline</mat-icon>
        </button>

        <mat-menu #authentication="matMenu">
          <button mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>{{ 'NAVIGATION.LOGIN' | translate }}</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>supervisor_account</mat-icon>
            <span>{{ 'NAVIGATION.REGISTER' | translate }}</span>
          </button>
        </mat-menu>

        <button type="button"
                aria-label="Toggle Cart"
                mat-icon-button
                (click)="openDrawer('cart')">
          <mat-icon aria-label="items in cart, view bag">shopping_cart</mat-icon>
        </button>

        @if (isHandset()) {
          <button type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="openDrawer('nav')">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
