<mat-sidenav-container class="h-dvh">
  <mat-sidenav #drawer
               fixedInViewport
               position="end"
               [attr.role]="isHandset() ? 'dialog' : 'navigation'"
               [mode]="'over'"
               [opened]="opened()">
    @switch (activeDrawer()) {
      @case ('nav') {
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item href="#">Link 1</a>
          <a mat-list-item href="#">Link 2</a>
          <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
      }
      @case ('cart') {
        <mat-toolbar>cart</mat-toolbar>
      }
      @case ('search') {
        <mat-toolbar>search</mat-toolbar>
      }
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="flex justify-between items-center">
      <a routerLink="/">
        <img ngSrc="./assets/images/logo.svg" alt="logo" height="18" width="115">
      </a>

      @if (!isHandset()) {
        <nav class="navigation">
          <ul class="flex items-center gap-4">
            <li class="nav-item">
              <a class="font-sm text-base">
                ფასდაკლება
              </a>
            </li>
            <li class="nav-item">
              <a class="font-sm text-base">
                ახალი კოლექცია
              </a>
            </li>
            <li class="nav-item">
              <a class="font-sm text-base">
                კაცი
              </a>
            </li>
            <li class="nav-item">
              <a class="font-sm text-base">
                ქალი
              </a>
            </li>
            <li class="nav-item">
              <a class="font-sm text-base">
                ბავშვი
              </a>
            </li>
          </ul>
        </nav>
      }

      <div class="flex items-center">
        <button class="flex items-center gap-1" mat-button role="button" [matMenuTriggerFor]="languages">
          <mat-icon aria-label="choose language" svgIcon="georgia_flag"></mat-icon>
          <span class="text-sm">{{ 'ქართ' }}</span>
        </button>

        <mat-menu #languages="matMenu">
          <button mat-menu-item (click)="chooseLanguage('ka')">
            <mat-icon aria-label="choose language" svgIcon="georgia_flag"></mat-icon>
            <span>{{ 'ქართული' }}</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="chooseLanguage('eng')">
            <mat-icon aria-label="choose language" svgIcon="usa_flag"></mat-icon>
            <span>{{ 'English' }}</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="chooseLanguage('rus')">
            <mat-icon aria-label="choose language" svgIcon="russia_flag"></mat-icon>
            <span>{{ 'Русский' }}</span>
          </button>
        </mat-menu>

        <button type="button"
                aria-label="Toggle Search"
                mat-icon-button
                (click)="openDrawer('search')">
          <mat-icon aria-label="Search toggle icon">search</mat-icon>
        </button>

        <button type="button"
                aria-label="auth methods"
                mat-icon-button>
          <mat-icon aria-label="authentication">person_outline</mat-icon>
        </button>

        <button type="button"
                aria-label="Toggle Cart"
                mat-icon-button
                (click)="openDrawer('cart')">
          <mat-icon aria-label="items in cart, view bag">shopping_cart</mat-icon>
        </button>

        @if (isHandset()) {
          <button type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="openDrawer('nav')">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
