<mat-sidenav-container class="h-dvh" hasBackdrop>
  <mat-sidenav #drawer
               fixedInViewport
               position="end"
               [attr.role]="isHandset() ? 'dialog' : 'navigation'"
               [mode]="'over'"
               [opened]="opened()">
    @switch (activeDrawer()) {
      @case ('nav') {
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item href="#">Link 1</a>
          <a mat-list-item href="#">Link 2</a>
          <a mat-list-item href="#">Link 3</a>
        </mat-nav-list>
      }
      @case ('cart') {
        <app-cart [drawer]="drawer"></app-cart>
      }
      @case ('search') {
        <mat-toolbar>search</mat-toolbar>
      }
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [drawer]="drawer"
                [(activeDrawer)]="activeDrawer"
                [(isDrawerOpened)]="opened"
                [isHandset]="isHandset()">

    </app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
