/* You can add global styles to this file, and also import other style files */
@use "assets/styles/colors";
@use "tailwindcss";
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  ul, ol {
    list-style: none;
  }

  .bg-alpha-700 {
    background: var(--alpha-700);
  }
}

:root {
  @include mat.sidenav-overrides((
    content-background-color: var(--additional)
  ));

  @include mat.divider-overrides((
    color: var(--alpha-100),
  ));

  @include mat.menu-overrides((
    item-label-text-size: 16px,
    item-label-text-line-height: 20px,
    item-label-text-weight: 500,
    item-label-text-color: var(--alpha-700),
    container-color: var(--additional),
    divider-color: red,
    container-elevation-shadow: "0px 6px 12px 0px #0000001A",
    divider-bottom-spacing: 0,
    divider-top-spacing: 0,
    container-shape: 16px,
    item-spacing: 16px,
    item-hover-state-layer-color: var(--alpha-50)
  ));

  @include mat.sidenav-overrides((
    container-shape: 0,
    container-width: 400px,
    scrim-color: var(--alpha-700),
  ));

  @include mat.toolbar-overrides((
    container-background-color: var(--additional)
  ));

  @include mat.list-overrides((
    list-item-one-line-container-height: auto,
    list-item-leading-icon-end-space: 16px,
    list-item-leading-icon-start-space: 16px,
  ));
}
